<div>
  <cdk-virtual-scroll-viewport
    class="wrapper mat-elevation-z2"
    tvsItemSize>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.index}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </cdk-virtual-scroll-viewport>
</div>
