<div>
  <mat-toolbar>
    <button mat-icon-button
      aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>OESK LAB</span>
  </mat-toolbar>
  <mat-drawer-container style="min-height: 500px;">
    <mat-drawer #drawer [mode]="'side'">
      <div class="command-container">
        <button
          mat-button
          routerLink="pure-pipes"
          >Pure pipes example
        </button>
        <button
          mat-button
          routerLink="virtual-scroll"
          >Virtual scroll example
        </button>
        <button
          mat-button
          routerLink="not-virtual-scroll"
          >Not Virtual scroll example
        </button>
        <button
          mat-button
          routerLink="onpush"
          >OnPush example
        </button>
        <button
          mat-button
          routerLink="run-outside-angular"
          >runOutsideAngular example
        </button>
        <button
          mat-button
          routerLink="memory-leak"
          >Memory leak example
        </button>
        <button
          mat-button
          routerLink="debounce-time"
          >Memory leak example
        </button>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div style="width: 100%;">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
